*.aux 
*.lo? 
*.toc 
*.ind 
*.inx 
*.gls 
*.glo 
*.ist 
*.idx 
*.ilg 
*.out 
*.bak 
*.bbl 
*.brf 
*.blg 
*.dvi 
*.ps 
*.xdv  
*.aux
*.bcf 
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls
.DS_Store
*.tar.gz